@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner&family=Italianno&family=Kenia&family=Libre+Baskerville&display=swap');
.first{
    background-color: cadetblue;
    padding: 10px;
    margin: 1px auto;
    width: 100px;
    height: 100px;
    border-left:  10px solid black ;
    border-bottom:10px solid blue;
    border-right:10px solid yellow;
    border-top: 10px solid red ;
    text-decoration: wavy;
    font-size: 50px;
    text-align: center;
    border-radius: 50%;
    text-transform: uppercase;
    color:rgb(30, 41, 30);
    text-shadow: 10px;
    align-items: center;
    font-weight: bold;
}
.first1{
    display: flex;
    justify-content: center;
}
.intro{
    padding: 5px;
    outline: 10px red;
    background-color: brown;
    border-left:8px double red ;
    border-top:8px double blue;
    border-right:8px double  yellow;
    text-align: center;
}
.intro1{
    display: flex;
    justify-content: center;
}
.article1{
    display: flex;
    justify-content: center;
}
.godofwar_link{
    margin-top: 50px;
    margin-left: 20px;
    bottom: 50px;
    padding: 5px;
    text-decoration: none;
    color:black ;
    font-size: 20px;
    background-color: chocolate;
    border-left:8px double red ;
    border-top:8px double blue;
    border-right:8px double  yellow;
    border-bottom: 8px double black;
    

}
.godofwar_link:visited{
    color: black;
}

.godofwar_img{
    margin-top: 25px;
    margin-left: 0px;
    bottom: 100px;
    padding: 10px;
    bottom: 20px;
    background-color: rgb(255, 0, 0);
    border-left:8px double rgb(191, 104, 104) ;
    border-top:8px double blue;
    border-right:8px double  yellow;
    border-bottom: 8px double black;
}
.godofwar_main{
    padding: 10px!important;
    padding-bottom: 50px!important;
}
.godofwar_link:hover{
    text-decoration: underline;
    color: rgba(0, 0, 0, 0.784)
}
.copy{
    text-decoration: none;
    font-family: 'Edu TAS Beginner', cursive;
    font-family: 'Italianno', cursive;
    font-family: 'Kenia', sans-serif;
    font-family: 'Libre Baskerville', serif;
    color: hsl(0, 0%, 0%);
    
}
.copy:visited{
    color: black;
}

h6{
    text-align: center;
}
.copy:hover{
    color: rgba(0, 0, 0, 0.526);
    text-decoration: underline;
}
.sss{
    margin-bottom: 0px;
    font-family: 'Italianno', cursive;
    font-size: 50px;
    text-align: center;
}
.email{
    display: flex;
    justify-content: center;
}
.message{    
    display: flex;
    justify-content: center;
    
}
.msg{
    width: 500px; 
    height: 100px;
    padding: 100px; 
    font-size: 15px;
    font-style:italic;
}
label{
    display: flex;
    justify-content: center;
}

input{
    margin: 20px ;
    padding: 5px;
}
.name{
    margin: 5px;
    padding-top:8.5px ;
    padding-right: 20px;
}
.enter{
    text-align: center;
}





